body {
  background-color: #301934;
}

h1 {
  font-size: 80px;
  color: #ffff55;
  -webkit-text-stroke: 10px #f00;
  paint-order: stroke;
  transform: rotate(-1deg) scaleY(0.7);
}

p {
  color: #ffffff;
}
